<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>{% block title %} {% endblock title %}</title>
    <meta name="keywords" content="Books, recent, Learning, library">
    <meta name="description" content="Books website">
    <meta name="author" content="author name">
    
    <!-- أيقونة الموقع -->
    <link rel="icon" href="{% static 'qu-icon.png' %}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- ربط ملف CSS -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>

    <!-- استدعاء الهيدر -->
    {% include "includes/header.html" %}

    <!-- محتوى الصفحة (يتم استبداله من كل صفحة فرعية) -->
    {% block content %} {% endblock content %}

    <!-- استدعاء الفوتر -->
    {% include "includes/footer.html" %}

</body>
</html>
