{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables Page</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <h2 class="table-title">Table 1: Table of Fruits and Their Prices</h2>
    <table class="styled-table">
        <tr>
            <th>Fruit</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Apple</td>
            <td>$0.25</td>
        </tr>
        <tr>
            <td>Orange</td>
            <td>$0.50</td>
        </tr>
        <tr>
            <td>Banana</td>
            <td>$1.00</td>
        </tr>
        <tr>
            <td>Pineapple</td>
            <td>$2.00</td>
        </tr>
        <tr>
            <td><strong>Total</strong></td>
            <td><strong>$3.75</strong></td>
        </tr>
    </table>

    <h2 class="table-title">Table 2: A more complex sample table</h2>
    <table class="styled-table">
        <tr>
            <td rowspan="2"><img src="{% static 'desert.jpg' %}" alt="Desert Image" width="250"></td>
            <td colspan="4"><strong>Camelid comparison<br>Approximate as of 6/2011</td></strong>
        </tr>
        <tr>
            <th># of humps</th>
            <th>Indigenous region</th>
            <th>Spits?</th>
            <th>Produces wool?</th>
        </tr>
        <tr>
            <td><stong>Dremodary</stong></td>
            <td>1</td>
            <td>Arabian Peninsula</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><stong>Camels(bactrian)</stong></td>
            <td>2</td>
            <td>Africa/Asia</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><stong>Llamas</stong></td>
            <td>1</td>
            <td>Andes Mountains</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
    </table>
    
    
</body>
</html>
